<ion-header>
  <ion-toolbar>
    <ion-title>
      survey_detail
      <!-- {{surverInfo.name}} -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Hellooowwww this is survey_detail page</p>

  <div *ngIf="currentQuestion.type == 'OpenEnded'">
      <app-open-ended [question]="currentQuestion"></app-open-ended>
  </div>
  <div *ngIf="currentQuestion.type == 'OpenEndedMultiLine'">
      <app-open-ended-multiline>
        
      </app-open-ended-multiline>
  </div>
  <div *ngIf="currentQuestion.type == 'MultiChoise'">
      <app-multi-choise></app-multi-choise>

  </div>
  <div *ngIf="currentQuestion.type == 'Choise'">
      <app-choise></app-choise>

  </div>

  <div *ngIf="currentQuestion.type == 'MultiChoiseSelect'">
      <app-multi-choise-select></app-multi-choise-select>
    </div>
    <div *ngIf="currentQuestion.type == 'ChoiseSelect'">
        <app-choise-select></app-choise-select>
    </div> 

    <div class="">
        <ion-button color="primary" (click)="changePage(-1)" >Previous</ion-button>
        <ion-button color="primary" (click)="changePage(1)">Next</ion-button>
    </div>
    <div>
       <ion-button type="submit" expand="full" color="danger" routerLink="/employee-detail">Back to Home</ion-button>
    </div>
</ion-content>